*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #333;
}

h3{
    color: #f5f3f3;
}

h4{
    color: #491cec;

}

p{
    color: #6fd60f;

}

span{
    color: #f50909;

}